@model ClienteModel
@{
    ViewData["Title"] = "Criar cliente";
}
<div class="text-center">
    <h1 class="display-4">Cadastrar Cliente</h1>
</div>

<form asp-controller="Cliente" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="Nm_Empresa" class="form-label">Nome Empresa</label>
        <input type="text" asp-for="Nm_Empresa" class="form-control" placeholder="Digite  o nome da empresa" />
        @Html.ValidationMessageFor(x => x.Nm_Empresa)
    </div>

    <div class="form-group">
        <label for="Cd_Empresa" class="form-label">Codigo Empresa</label>
        <input type="number" asp-for="Cd_Empresa" class="form-control" placeholder="Digite o codigo da empresa" />
        @Html.ValidationMessageFor(x => x.Cd_Empresa)
    </div>

    <div class="form-group">
        <label for="Ds_Cnpj" class="form-label">CNPJ</label>
        <input type="number" asp-for="Ds_Cnpj" class="form-control" placeholder="Digite o CNPJ" />
        @Html.ValidationMessageFor(x => x.Ds_Cnpj)
    </div>

    <div class="form-group">
        <label for="Nr_Total_Onibus" class="form-label">Total Onibus</label>
        <input type="number" asp-for="Nr_Total_Onibus" class="form-control" placeholder="Digite total de onibus" />
        @Html.ValidationMessageFor(x => x.Nr_Total_Onibus)
    </div>

    <div class="form-group">
        <label for="Capacidade" class="form-label">Capacidade</label>
        <input type="number" asp-for="Capacidade" class="form-control" placeholder="Digite a Capacidade" />
        @Html.ValidationMessageFor(x => x.Capacidade)
    </div>

    <div class="form-group">
        <label for="Data_Cadastro" class="form-label">Data</label>
        <input type="date" asp-for="Data_Cadastro" class="form-control" placeholder="Entre com a data" />
        @Html.ValidationMessageFor(x => x.Data_Cadastro)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Cliente" role="button">Voltar</a>
</form>