@model List<ClienteModel>
@{
    ViewData["Title"] = "Listagem de Clientes";
}


<div class="text-center">
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Cliente" asp-action="Criar">Adicionar Novo Cliente</a>
    </div>
    <br />

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if(TempData["MensagemErro"] != null)
    {
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
    }

    <br />

    <h1 class="display-4">Lista de Clientes</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nm_Empresa</th>
                <th scope="col">Cd_Empresa </th>
                <th scope="col">CNPJ </th>
                <th scope="col">Nr_Total_Onibus </th>
                <th scope="col">Data_Cadastro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
           
                <th scope="row">1</th>
                <td>Nova Transporte Ltda</td>
                <td>07</td>
                <td>444.333.785/0001</td>
                <td>22</td>
                <td>07/5/22</td>
                    <td>
                        <div>
                            <button type="button" class="btn btn-primary" asp-action="Editar" asp-controller="Cliente">Editar</button>
                            <button type="button" class="btn btn-danger" asp-action="Apagar" asp-controller="Cliente">Apagar</button>
                        </div>
                    </td>
                
            
            </tr>
            <tr>

                <th scope="row">2</th>
                <td>Metropolitana Transportes e Serviços Ltda</td>
                <td>02</td>
                <td>555.777.159/0001</td>
                <td>15</td>
                <td>11/11/19</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-primary" asp-action="Editar" asp-controller="Cliente">Editar</button>
                        <button type="button" class="btn btn-danger" asp-action="Apagar" asp-controller="Cliente">Apagar</button>
                    </div>
                </td>


            </tr>

            <tr>

                <th scope="row">3</th>
                <td>Consórcio Bus+</td>
                <td>12</td>
                <td>333.555.789/0001</td>
                <td>20</td>
                <td>04/05/19</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-primary" asp-action="Editar" asp-controller="Cliente">Editar</button>
                        <button type="button" class="btn btn-danger" asp-action="Apagar" asp-controller="Cliente">Apagar</button>
                    </div>
                </td>


            </tr>
            <tr>

                <th scope="row">4</th>
                <td>Consórcio Internorte</td>
                <td>08</td>
                <td>123.987.354/0001</td>
                <td>14</td>
                <td>22/05/19</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-primary" asp-action="Editar" asp-controller="Cliente">Editar</button>
                        <button type="button" class="btn btn-danger" asp-action="Apagar" asp-controller="Cliente">Apagar</button>
                    </div>
                </td>


            </tr>
            @if (Model != null && Model.Any())
            {
                foreach (ClienteModel cliente in Model)
                {
                    <tr>
                        <th scope="row">@cliente.Id</th>
                        <th scope="row">@cliente.Nm_Empresa</th>
                        <td>@cliente.Cd_Empresa</td>
                        <td>@cliente.Ds_Cnpj</td>
                        <td>@cliente.Nr_Total_Onibus</td>
                        <td>@cliente.Data_Cadastro</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="Apagar">Apagar</a>

                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>

</div>